*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
html,body{
    width: 100%;
    height: 100%;
    background-color: black;
    color: wheat;
}
.navbar{
    
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    width: 100%;
    color: wheat;
    
}
.navigations ul li{
    list-style: none;
}
.navigations ul{
    display: flex;
    gap:5rem;

}
.hero-section{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-section h1{
    font-size: 3rem;
}
